---
layout: layout
---

{% assign index = true %}
<h1>Research</h1>
{% for proj in site.posts %}
  {% if proj.layout == 'project' and proj.category == 'research' %}
    {% assign content = proj.content %}
    <div class="project-preview">
      {% include project.html %}
    </div>
  {% endif %}
{% endfor %}

<h1>Other</h1>
{% for proj in site.posts %}
  {% if proj.layout == 'project' and proj.category != 'research' %}
    {% assign content = proj.content %}
    <div class="project-preview">
      {% include project.html %}
    </div>
  {% endif %}
{% endfor %}

