@import url('https://fonts.googleapis.com/css?family=Raleway|Oxygen|Anonymous+Pro');

body {
  max-width: 980px;

  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 400;

  margin-left: auto;
  margin-right: auto;
}

a {
  color: green;
}

.site-header {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: green;

  padding-top: 0.8rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

code, pre {
  font-family: 'Anonymous Pro';
}

footer {
  margin-top: 2rem;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.info-blurb {
  flex: 1;
  margin-right: 5px;
}

.content {
  flex: 2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway';
  font-weight: inherit;
}

.logo {
  display: inline;
  margin-right: 1.5rem;
}

.logo h1 {
  /*font-size: 4rem;*/
  display: inline;
  font-size: 2rem;
}

.site-nav {
  display: inline;
  font-variant-caps: small-caps;
  font-size: 1.15rem;
}

.logo a, .site-nav a {
  color: #222222;
  text-decoration: none;
}

.site-nav a {
  color: green;
  margin-right: 1.2rem;
  /*font-size: 1.8rem;*/
}

.site-nav a:hover {
  text-decoration: underline;
}

h2 {
  padding-left: 0.5rem;
  border-bottom: 1px solid #dddddd;
}

.info-blurb .headshot {
  margin-top: 2rem;
}

.headshot {
  margin-bottom: 1rem;
}

.headshot img {
  display: block;
  margin: auto;
  /*clip-path: inset(10px 0px 27px 0px);*/
}

.info-blurb h1 {
  /*font-size: 3rem;*/
  color: #6f6f6f;
  text-align: left;
  margin: 0;
}

.info-blurb h2 {
  /*font-size: 2.5rem;*/
  color: #6f6f6f;
  text-align: left;
  padding-left: 0;
  border-bottom: none;
  margin: 0;
}

.address {
  list-style: none;
  padding-left: 0;
}

.social-links {
  display: inline;
  padding-left: 0;
}

.social-links li {
  display: inline-block;
  line-height: 2em;
}

.social-links li a {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

