@import url('https://fonts.googleapis.com/css?family=Raleway|Oxygen|Anonymous+Pro');

body {
  max-width: 980px;

  font-family: 'Oxygen';
  font-size: 16px;
  font-weight: 400;

  margin-left: auto;
  margin-right: auto;

  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: green;
}

ul {
  list-style: none;
  padding-left: 0;
}

.site-header {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: green;

  padding-top: 0.8rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

code, pre {
  font-family: 'Anonymous Pro';
}

footer {
  margin-top: 2rem;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.info-blurb {
  flex: 1;
  margin-right: 5px;
}

.content {
  flex: 2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway';
  font-weight: inherit;
}

.logo {
  display: inline;
  margin-right: 1.5rem;
}

.logo h1 {
  /*font-size: 4rem;*/
  display: inline;
  font-size: 2rem;
}

.site-nav {
  display: inline;
  font-variant-caps: small-caps;
  font-size: 1.15rem;
}

.logo a, .site-nav a {
  color: #222222;
  text-decoration: none;
}

.site-nav a {
  color: green;
  margin-right: 1.2rem;
  /*font-size: 1.8rem;*/
}

.site-nav a:hover {
  text-decoration: underline;
}

h2 {
  padding-left: 0.5rem;
  border-bottom: 1px solid #dddddd;
}

.info-blurb .headshot {
  margin-top: 2rem;
}

.headshot {
  margin-bottom: 1rem;
}

.headshot img {
  display: block;
  margin: auto;
  /*clip-path: inset(10px 0px 27px 0px);*/
}

.info-blurb h1 {
  color: #6f6f6f;
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

.info-blurb h2 {
  /*font-size: 2.5rem;*/
  color: #6f6f6f;
  text-align: left;
  padding-left: 0;
  border-bottom: none;
  margin: 0;
}

.social-links {
  display: inline;
  padding-left: 0;
}

.social-links li {
  display: inline-block;
  line-height: 2em;
}

.social-links li a {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.article-title {
  margin-bottom: 0.25rem;
}

.byline {
  margin-bottom: 0.5rem;
}

/* just date lists for now */
dt {
  float: left;
  clear: left;
  width: 17%;
}

dd {
  margin-left: 19%;
}


pre {
  color: #cccccc; 
  background-color: #303030; 
  padding: 0.5rem;
}

/* zenburn syntax higlighting */
a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; position: absolute; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; }
pre.numberSource a.sourceLine:empty
  { position: absolute; }
pre.numberSource a.sourceLine::before
  { content: attr(data-line-number);
    position: absolute; left: -5em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
  }
pre.numberSource { margin-left: 3em;  padding-left: 4px; }
div.sourceCode
  { color: #cccccc; background-color: #303030; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ffcfaf; } /* Alert */
code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #dca3a3; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #f0dfaf; } /* ControlFlow */
code span.ch { color: #dca3a3; } /* Char */
code span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
code span.co { color: #7f9f7f; } /* Comment */
code span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
code span.do { color: #7f9f7f; } /* Documentation */
code span.dt { color: #dfdfbf; } /* DataType */
code span.dv { color: #dcdccc; } /* DecVal */
code span.er { color: #c3bf9f; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #c0bed1; } /* Float */
code span.fu { color: #efef8f; } /* Function */
code span.im { } /* Import */
code span.in { color: #7f9f7f; font-weight: bold; } /* Information */
code span.kw { color: #f0dfaf; } /* Keyword */
code span.op { color: #f0efd0; } /* Operator */
code span.ot { color: #efef8f; } /* Other */
code span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
code span.sc { color: #dca3a3; } /* SpecialChar */
code span.ss { color: #cc9393; } /* SpecialString */
code span.st { color: #cc9393; } /* String */
code span.va { } /* Variable */
code span.vs { color: #cc9393; } /* VerbatimString */
code span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */
  

