@import url('https://fonts.googleapis.com/css?family=Raleway|Oxygen|Anonymous+Pro');

body {
  max-width: 980px;

  font-family: 'Oxygen';
  font-size: 18px;
  font-weight: 200;

  margin-left: auto;
  margin-right: auto;
}

code, pre {
  font-family: 'Anonymous Pro';
}

.columns {
  display: flex;
  justify-content: space-between;
}

.info-blurb {
  flex: 1;
  margin-right: 5px;
}

.content {
  flex: 2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway';
  font-weight: inherit;
}

.logo {
  display: inline;
  margin-right: 1.5rem;
}

.logo h1 {
  /*font-size: 4rem;*/
  display: inline;
}

.site-nav {
  display: inline;
  font-variant-caps: small-caps;
}

.logo a, .site-nav a {
  color: #222222;
  text-decoration: none;
}

.site-nav a {
  margin-right: 1.2rem;
  /*font-size: 1.8rem;*/
}

.site-nav a:hover {
  text-decoration: underline;
}

h2 {
  border-bottom: 1px solid #dddddd;
}

.info-blurb .headshot {
  margin-top: 2rem;
}

.info-blurb h1 {
  /*font-size: 3rem;*/
}

.info-blurb h2 {
  /*font-size: 2.5rem;*/
  border-bottom: none;
}

.social-links {
  display: inline;
}

.social-links li {
  display: inline-block;
  line-height: 2em;
}

.social-links li a {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
}

