
/**
 * Colors:
 * The site uses the foundation colors which are defined in the sass variables
 * `$primary-color`, `$secondary-color`, `$alert-color`, `$success-color`,
 * `$warning-color`, and `$info-color`.
 * Background/foreground colors are defined by `$body-bg` and 
 * `$body-font-color` respectively.
 *
 *     @example
 *     .colorswatch.primary-color: h3.sg Primary
 *     .colorswatch.secondary-color: h3.sg Secondary
 *     .colorswatch.alert-color: h3.sg Alert
 *     .colorswatch.success-color: h3.sg Success
 *     .colorswatch.warning-color: h3.sg Warning
 *     .colorswatch.info-color: h3.sg Info
 *     .colorswatch.foreground-color: h3.sg Foreground
 *     .colorswatch.background-color: h3.sg Background
 *     
 */

// color swatches mostly for the style docs
// TODO: this should be moved into the style guide-specific CSS
.colorswatch {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
  border: 1px solid #bdbdbd;

  h3 {
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
$colors: (
    primary-color: $primary-color,
    secondary-color: $secondary-color,
    alert-color: $alert-color,
    success-color: $success-color,
    warning-color: $warning-color,
    info-color: $info-color,
    foreground-color: $body-font-color,
    background-color: $body-bg
);
@each $color-name, $color-value in $colors {
  .#{$color-name} {
    background-color: $color-value;
  }
}
