
body > div.row:first-of-type {
  padding-top: 2em;
}

// Custom taglist processing
.taglist {
  display: inline;
  list-style: none;

  .tag {
    display:inline;
  }

  .tag:last-child:after {
    content: "";
  }
  
  .tag:after {
    content: ", ";
  }
}

.project-links {
  @extend .button-group;

  .link {
    @extend .button;
    @extend .tiny;
  }
}

#content {
  h1 {
    //margin-left: 1em;
    margin-top: 0;
  }

  h2 {
    padding-left: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  ul {
    list-style-position: inside;
  }

  .button-group {
    margin-top: 1em;
  }
}

