
.cv-section {
  @include grid-row(nest);
}

.pub-list li {
 list-style-type: none;
 padding-bottom: 0.5em;
}

.event-list li {
  @include grid-row(nest);
  display: block;

  p {
    @include grid-column(10, $push: 2);
    margin-bottom: 0;
  }

  time {
    @include grid-column(2, $pull: 10);
  }
}

.job {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  header {

    .location {
      margin-bottom: 0.05em;
    }

    .title {
      display: inline;
      margin-top: 0;
      margin-bottom: 0;
    }
    .duration {
      padding-left: 1em;
    }
    
    margin-bottom: 0.5em;
  }
}

.misclist {
  @include block-grid(3);

  li {
    padding-bottom: 0.5em;
  }
}

