
$base-font-size: 14px;

$em-base: $base-font-size;

// Various global styles
$default-float: left;

// Colors
$ttw-green: rgb(75, 135, 73);
$primary-color: $ttw-green;

// Control header font sizes
$h1-font-size: em-calc(36);
$h2-font-size: em-calc(32);
$h3-font-size: em-calc(28);
$h4-font-size: em-calc(24);
$h5-font-size: em-calc(18);
$h6-font-size: em-calc(15);

// Style paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1em;

// Style <code> tags
$code-font-weight: normal;

//
// Side Nav Variables
//

// We use this to control padding.
$side-nav-padding: em-calc(0 0);

// We use these to control list styles.
$side-nav-list-margin: em-calc(0 0 0 0);

// The title and main nav bar link size
$title-font-size: em-calc(24);
$subtitle-and-nav-font-size: em-calc(18);

// Solarized settings
$solarized-theme: light;

