@import "foundation/scss/foundation/functions";

@import url(http://fonts.googleapis.com/css?family=Raleway|Oxygen);

$base-font-size: 14px;
$body-font-family: 'Oxygen', sans-serif;
$header-font-family: 'Raleway', sans-serif;

$webicons-url: "/images/webicons/" !default;

$rem-base: $base-font-size;

// Various global styles
$default-float: left;

// Colors
$ttw-green: rgb(75, 135, 73);
$primary-color: $ttw-green;

// Control header font sizes
$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(28);
$h4-font-size: rem-calc(24);
$h5-font-size: rem-calc(18);
$h6-font-size: rem-calc(15);

// Style paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1rem;

// Style <code> tags
$code-font-weight: normal;

//
// Side Nav Variables
//

// We use this to control padding.
$side-nav-padding: rem-calc(0 0);

// We use these to control list styles.
$side-nav-list-margin: rem-calc(0 0 0 0);

// The title and main nav bar link size
$title-font-size: rem-calc(24);
$subtitle-and-nav-font-size: rem-calc(18);

// Solarized settings
$solarized-theme: light;

// Tooltips
$tooltip-font-size: 12px;
$tooltip-padding: rem-calc(6);

