
.sociallist {
  display: inline;
  list-style: none;
  margin-top: 1em;
  margin-left: 0;

  li {
    display: inline-block;
    margin-right: .25em;
    line-height: 2em;

    .icon {
      display: block;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      padding: 0em;
      background: gray;
      color: white;
      text-align: center;
      vertical-align: middle;
    }

    .mail {
      background: #91c661;
    }

    .twitter {
      background: #32ccfe;
    }

    .facebook {
      background: #3c599f;
    }

    .github {
      background: #070709;
    }

    .linkedin {
      background: #0085ae;
    }

    .google-plus {
      background: #cf3d2e;
    }

    .foursquare {
      background: #0086be;
    }

    .instagram {
      background: #a1755c;
    }

    .rss {
      background: #f67f00;
    }
  }

  .has-tip {
    border-bottom: none;
  }
}
