
/**
 * Social icons:
 * The the social/sharing icons are in an inline list with icons
 * and different colors for each
 *
 *     @example
 *     ul.sociallist
 *       li: a(href="#").icon.mail
 *       li: a(href="#").icon.twitter
 *       li: a(href="#").icon.facebook
 *       li: a(href="#").icon.github
 *       li: a(href="#").icon.linkedin
 *       li: a(href="#").icon.google-plus
 *       li: a(href="#").icon.foursquare
 *       li: a(href="#").icon.instagram
 *       li: a(href="#").icon.rss
 */
.sociallist {
  display: inline;
  list-style: none;
  margin-top: 1em;
  margin-left: 0;

  li {
    display: inline-block;
    margin-right: .2em;
    line-height: 2em;

    .icon {
      display: block;
      width: 2em;
      height: 2em;
      padding: 0em;
      border-radius: 100%;
      background: gray;
      color: white;
      text-align: center;
      vertical-align: middle;
    }

    .mail {
      background: #91c661;
    }

    .twitter {
      background: #32ccfe;
    }

    .facebook {
      background: #3c599f;
    }

    .github {
      background: #070709;
    }

    .linkedin {
      background: #0085ae;
    }

    .google-plus {
      background: #cf3d2e;
    }

    .foursquare {
      background: #0086be;
    }

    .instagram {
      background: #a1755c;
    }

    .rss {
      background: #f67f00;
    }
  }

  .has-tip {
    border-bottom: none;
  }
}
