
// The Solarized colors
// http://ethanschoonover.com/solarized
$solarized-base03 : #002b36;
$solarized-base02 : #073642;
$solarized-base01 : #586e75;
$solarized-base00 : #657b83;
$solarized-base0  : #839496;
$solarized-base1  : #93a1a1;
$solarized-base2  : #eee8d5;
$solarized-base3  : #fdf6e3;
$solarized-yellow : #b58900;
$solarized-orange : #cb4b16;
$solarized-red    : #dc322f;
$solarized-magenta: #d33682;
$solarized-violet : #6c71c4;
$solarized-blue   : #268bd2;
$solarized-cyan   : #2aa198;
$solarized-green  : #859900;

$solarized-theme: dark !default;

@if $solarized-theme == light {

  $temp03: $solarized-base03;
  $temp02: $solarized-base02;
  $temp01: $solarized-base01;
  $temp00: $solarized-base00;
  $temp0 : $solarized-base0;
  $temp1 : $solarized-base1;
  $temp2 : $solarized-base2;
  $temp3 : $solarized-base3;

  $solarized-base03: $temp3;
  $solarized-base02: $temp2;
  $solarized-base01: $temp1;
  $solarized-base00: $temp0;
  $solarized-base0: $temp00;
  $solarized-base1: $temp01;
  $solarized-base2: $temp02;
  $solarized-base3: $temp03;
}

