
$code-bg-color: #f7f7f9;
$code-base-color: #000000;

p {
  code {
    //background-color: $code-bg-color;
    color: $code-base-color;
    //border: 1px solid #E1E1E8;
    //padding-left: 0.25em;
    //padding-right: 0.25em;
    //padding-top: 0.25em;
    //padding-bottom: 0;
  }
}

@import "highlightjs/styles/zenburn.css";

