
// Custom stuff for everything in the title area
.title-area {
  a {
    color: black;
  }
  .title {
    @extend h1;
    font-size: $title-font-size;
    //@media #{$screen} and (max-width:"#{$small-screen}") {
    @media #{$small-only} {
      display: inline;
    }
  }
  .position {
    @extend .subheader;
    font-size: $subtitle-and-nav-font-size;
  }

  nav {
    @media #{$small-only} {
      display: inline;
    }
    @media #{$small-only} {
      position: relative;
    }

    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    

    //.menu-button {
      //@include button;
      //@include dropdown-button(small, #fff, false);
      //@extend .tiny;
      //@extend .right;
    //}

    .menu {
      @include side-nav;
      font-size: $subtitle-and-nav-font-size;
      width: 100%;

      li {
        width: 100%;
        @media #{$small-only} {
          a {
            background: $ttw-green;
            color: white;
            border-bottom: 1px solid white;
            padding: 0.25em 0.75em;
          }
        }
      }

    }
  }

  nav.opened {
    max-height: 9999px;
  }

  @media #{$small-only} {
    nav.closed {
      max-height: none;
    }
  }

  #menu-toggle {
    @extend .hide-for-medium-up;
    @extend .right;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: $ttw-green;
    font-size: $subtitle-and-nav-font-size;
  }
}

