
// Custom stuff for everything in the title area
.title-area {
  a {
    color: black;
  }
  .title {
    @extend h1;
    font-size: $title-font-size;
  }
  .position {
    @extend .subheader;
    font-size: $subtitle-and-nav-font-size;
  }
  .address{
    display:inline;
    list-style: none;
  }

  nav .menu {
    @include side-nav;
    font-size: $subtitle-and-nav-font-size;
  }
}

