
<ul class="button-group">
  <% if proj.source %>
    <li><%= link_to 'source', proj.source, :class => 'small button' %></li>
  <% end %>
  <% if proj.video %>
    <li><%= link_to 'video', proj.video, :class => 'small button' %></li>
  <% end %>
  <% if proj.paper %>
    <li><%= link_to 'paper', proj.paper, :class => 'small button' %></li>
  <% end %>
</ul>

