
- links = [['About', '/about.html'],
           ['Projects', '/projects'], 
           ['Blog', '/blog'], 
           ['CV', '/cv.html']]

%div#menu-toggle
  %i.fa.fa-bars
  Menu

%nav.site-nav
  %ul#main-menu-list.menu
    - links.each do |name, link|
      %li= link_to name, link

