
- links = [["mail", "Email", email_url, "Email me"],
           ["twitter", "Twitter", twitter_url, "Follow me on Twitter"],
           ["facebook", "Facebook", facebook_url, "Facebook"],
           ["foursquare", "foursquare", foursquare_url, "Follow me on foursquare"],
           ["github", "Github", github_url, "Github projects"],
           ["rss", "RSS", '/feed.xml', "Subscribe"]]

%ul.sociallist.svg
  - links.each do |icon,text,url,tooltip|
    %li
      %span.has-tip{:title=>tooltip, "data-tooltip"=>"", "data-options"=>"disable_for_touch:true"}
        = link_to url, {:class=>"webicon #{icon} small"} do
          = text

