
<%= image_tag "headshot.jpg" %>
Hello! I am a PhD student in the 
<%= link_to "VDA Lab", "http://cs.univie.ac.at/research/research-groups/visualization-and-data-analysis/" %> of the <%= link_to "Faculty of Computer Science", "http://cs.univie.ac.at" %> at the University of Vienna.
My supervisor is Dr. Torsten Möller.
<br/>
<br/>
Email: thomas.torsney-weir@univie.ac.at

<h1>Research Interests</h1>

I am interested in using visualization techniques along with statistical
modeling in order to perform optimization in high-dimensional spaces.

<ul>
  <li>Visualization</li>
  <li>Computer Graphics</li>
  <li>Machine Learning</li>
</ul>



