---
layout: page
---

%section
  %div.panel
    %h2 Research interests

    %p I am interested in using visualization techniques along with statistical modeling in order to perform optimization in high-dimensional spaces.

    %ul
      %li Visualization
      %li Computer Graphics
      %li Machine Learning


%section
  %h2 Projects
  = partial 'featured_projects'

%section
  %h2 Recent blog posts
  = partial 'article_shortlist', :locals => {:articles => page_articles[0, 5]}

