---
layout: page
---

%h2 Research interests

I am interested in using visualization techniques along with statistical
modeling in order to perform optimization in high-dimensional spaces.

%ul
  %li Visualization
  %li Computer Graphics
  %li Machine Learning



